:root{
    --white:#FFFFFF;
    --darkWhite:#F3F3F3;
    --red:#FF4554;
    --DarkRed:#A12222;
    --lightBlue:#00C3E3;
    --black:#060606;
    --gray:#EEE9E5;
}
*{
    margin: 0;
    padding: 0;
}
/* global */
html{
    font-size: 62.5%; /*Reset for rem*/
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    max-width: 100%; 
 }
 .container{
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
.text-center{
    text-align: center;
}
.fw-700{
    font-weight: 700;
}
section{
    height: 400px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
/* header */
header{
    height: 100vh;
    min-height: 60rem;
    background-position: center center;
    background-size: cover;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)
        ),
    url(/img/dogcat.jpg);
}
.header-container{
    font-family: 'Federant', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    color: var(--white);
}
.header-container h1{
    text-shadow: .2rem .2rem var(--black);
}
.header-container p{
    font-size: 2.5rem;
    text-shadow: .2rem .2rem var(--black);
}
i.fa-arrow-circle-down{
    font-size: 2.5em;
    margin: 15px 0px;
    text-shadow: .2rem .2rem var(--black);
}
.nav-container{
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20rem;
    margin-top: 1rem;
}
nav{
    border-bottom: 1px solid var(--red);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 2rem;
}
nav ul li:last-of-type{
    margin-right: 0;
}
nav ul li a{
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--white);
}
a:hover{
    color: var(--red);
    text-shadow: .1rem .1rem var(--black);
}
.button{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    padding: .5rem .3rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
}
.button:hover{
    cursor: pointer;
    background-color: var(--red);
    color: #FFFFFF;
}
.white-button{
    background-color: var(--white);
}
#inicio{
    background-color: var(--darkWhite);
}
#eventos{
    background-color: var(--white);
}
.blue{
    background-color: var(--lightBlue);
    color: var(--white);
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}
#main{
    background-color: var(--darkWhite);
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 3rem 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 0;
}
.card{
    background-color: var(--white);
}
footer{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}
span{
    color: var(--lightBlue);
}

/* media queries */
@media(max-width:1024px){
    .container{
        max-width: 90rem;
        margin: 0 auto;
    }
}
@media(max-width:768px){
    .container{
        max-width: 70rem;
        margin: 0 auto;
    }
    .access{
        display: none;
    }
}
@media only screen and (max-width: 640px){
    section{
        font-size: 1.2rem;
    }
    #main{
        font-size: 1rem;
    }
    h1{
        font-size: 1.2rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .container{
        max-width: 60rem;
    }
    .cards{
        display: block;
        padding: 3rem 0;
    }
    .blue{
        background-color: var(--lightBlue);
        color: var(--white);
        height: 200px;
        width: 80%;
        display: flex;
        align-items: center;
        border-radius: 1rem;
    }
    section{
        height: 300px;
        display: flex;
        align-items: center;
    }
    footer, footer nav ul li a{
        font-size: 1rem;
    }
    .nav{
        font-size: 1rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin-right: .5rem;
    }
    .logo{
        width: 10rem;
        margin-top: 1rem;
    }
    .access{
        display: none;
    }
    .nav-container{
        height: 40px;
    }
}